<nav class="navbar">
  <ul class="nav-menu">

    <li><a routerLink="/" class="nav-link">Home</a></li>
    

    <li class="dropdown">
      <a href="#" class="dropdown-toggle">Categories</a>
      <ul class="dropdown-menu">
        <li><a href="#">Programming</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">Math</a></li>
      </ul>
    </li>
    

    <li><a routerLink="/about" class="nav-link">About</a></li>
    

    <li><a href="#" class="nav-link">Add Resource</a></li>
    
 
    <li class="nav-logo">
      <a href="#">
        <img src="https://upload.wikimedia.org/wikipedia/en/a/ae/Los_Pollos_Hermanos_logo.png" alt="Los Pollos Hermanos" />
      </a>
    </li>
  </ul>
</nav>
